[database]
database.host=localhost
database.user=root
database.password=root
database.db=deepkube
database.port=3306

[app]
port=8001

[logging]
fileName=logs/deepkube.log

[kube]
kube.host=https://172.21.75.191:6443
kube.token=eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6ImRlZmF1bHQtdG9rZW4tZmtwMjkiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiZGVmYXVsdCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6IjljNTA2ZmJiLTgxMDctMTFlOS04N2Y2LTAwNTA1Njk3MDg2YiIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpkZWZhdWx0OmRlZmF1bHQifQ.FtTlaUmtJZqt-F7ps_gysZC6XmmUR2cImB2_5PNEVKTTk264Ha6g3aQB4KZNU9aEMfz8SpmvwvjDQD4KaHn70ZbKwlT4DO96XDGp3m-oIyH6Zs0aTGZn1PRg5mjvEtVEIJgLd80dKrHwsOy6ncwRZkUEXYRijzeDDN_AHOZfsd0DD2Nox_WpbZMOICMd0RtivlQVUwE17DBSXLL_y9KTYnj4A_vVa0n9UZXY-BcnyYbVBD4s7eR52FAvCZfv8yRqHIj6jwueYDiNhzUSHBrAhHVIDi9kDVjcMqxTmcOkb0Hk7xdfmHRPNB6yjheMrRVognis8pETkL0bMmmkldvi7w